@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lemonada:wght@500&family=Mirza:wght@500&display=swap');

.App {
  text-align: center;
  height: 100vh;
  padding: 20px;
  background-color: #00FCCA;
}

.headname {
  font-family: 'Lemonada';
  font-style: 24px;
  color: #FFF;
}

.title {
  font-family: 'Great Vibes';
  color: #FFF;
  font-size: 60px;
  padding: 10px;
  font-weight: bold;
}

.card {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #F3EFE0;
}

.input {
  margin-top: 10px;
}

.label {
  color: #000;
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}

.button:hover {
  transform: scale(1.01)
}